body,h1,p {
    margin: 0;
}
nav {
    text-align: center;
    background-color: grey;
}

#main {
    display: flex;
}

#main .container {
    flex-grow: 1;
    background-color: rgb(160, 160, 160);
}

#canvass {
    background-color: whitesmoke;
    width: 720px;
    height: 720px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-basis: 480px;
}

.pixel {
    background-color: white;
    outline: 1px solid black;
    flex-basis: 720px;
}

