body,h1,p {
    margin: 0;
}
nav {
    text-align: center;
    background-color: grey;
}

#main {
    display: flex;
}

#main .container {
    flex-grow: 1;
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvass {
    background-color: whitesmoke;
    width: 720px;
    height: 720px;
    display: flex;
    flex-direction: column;
}

.container #control {
    display: flex;
    flex-direction: column;
}
.container #rainbow {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    text-shadow: 2px 2px 4px #000000;
    color: white;
}

.container #ink {
    background-color: black;
    color: white;
}

.container #eraser {
    background-color: whitesmoke;
}

.container #darker {
    background-color: grey;
    color: white;
}