body,h1,p {
    margin: 0;
}
nav {
    text-align: center;
    background-color: grey;
}

#main {
    display: flex;
}

#main .container {
    flex-grow: 1;
    background-color: rgb(160, 160, 160);
}

#canvass {
    background-color: whitesmoke;
    
}

.row {
    height: 20px;
    width: 320px;
    display: flex;
}

.pixel {
    background-color: white;
    width: 20px;
    height: 20px;
}

